<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Looking for a trusted general contractor in {{ current_year }}? JBI Construction specializes in residential and commercial construction, remodeling, and renovations in Chantilly, Fairfax, and Northern Virginia. Reliable, professional, and committed to quality—let’s build your vision today!">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico"
        href="https://jbiconstructionllc-static.s3.amazonaws.com/img/white_logo2.ico">

    <!-- Stylesheets -->

    <link rel="stylesheet" type="text/css"
        href="https://jbiconstructionllc-static.s3.amazonaws.com/styles/animation.css">
    <link rel="stylesheet" type="text/css" href="https://jbiconstructionllc-static.s3.amazonaws.com/styles/header.css">
    <link rel="stylesheet" type="text/css" href="https://jbiconstructionllc-static.s3.amazonaws.com/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="https://jbiconstructionllc-static.s3.amazonaws.com/styles/aboutUs.css">
    <link rel="stylesheet" type="text/css"
        href="https://jbiconstructionllc-static.s3.amazonaws.com/styles/services.css">
    <link rel="stylesheet" type="text/css"
        href="https://jbiconstructionllc-static.s3.amazonaws.com/styles/testimonials.css">

    <link rel="stylesheet" type="text/css" href="https://jbiconstructionllc-static.s3.amazonaws.com/styles/gallery.css">
    <link rel="stylesheet" type="text/css"
        href="https://jbiconstructionllc-static.s3.amazonaws.com/styles/contactv2.css">
    <link rel="stylesheet" type="text/css" href="https://jbiconstructionllc-static.s3.amazonaws.com/styles/footer.css">
    <link rel="stylesheet" type="text/css"
        href="https://jbiconstructionllc-static.s3.amazonaws.com/styles/courasel.css">
    <link rel="stylesheet" type="text/css" href="https://jbiconstructionllc-static.s3.amazonaws.com/styles/banner.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <script type="text/javascript"
        src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/scripts/courasel.js" defer></script>
    <script type="text/javascript" src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/scripts/script.js"
        defer></script>
    <script src="https://kit.fontawesome.com/7e3e6f27d8.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://static.elfsight.com/platform/platform.js" async defer></script>



    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,400;1,600&family=Montserrat:wght@400;600;700&display=swap"
        rel="stylesheet">

</head>
<title>JBI Construction | Fairfax & Chantilly VA’s Top Commercial & Residential Contractor</title>

<body>
    <!-- Landing Page -->
    <header id="header"
        data-images="https://jbiconstructionllc-static.s3.amazonaws.com/img/backyard.webp,https://jbiconstructionllc-static.s3.amazonaws.com/img/kitchen-2.jpg,https://jbiconstructionllc-static.s3.amazonaws.com/img/living_ai.webp"
        aria-label="JBI Construction - Expert Construction and Remodeling in Chantilly, Fairfax, and Northern Virginia">



        <div class=" logo" id="logo">
            <div class="box1" id="box1">
                <div class="logoContainer">
                    <img class="logoImg" src="https://jbiconstructionllc-static.s3.amazonaws.com/img/white_logo.png"
                        alt="Logo of JBI Construction">
                </div>
            </div>
            <div class="box2" id="box2">
                <div class="call">
                    <img class="icon" src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/call2.png"
                        alt="picture of phone icon">
                    <div class="headerInfo">
                        <h5>CALL US</h5>
                        <a class="links" href="tel:7034095230"> +1 (703) 409-5230</a>
                    </div>
                </div>
                <div class="line"></div>
                <div class="mail">
                    <img class="icon"
                        src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/envelope2.png"
                        alt="Picture E-mail icon">
                    <div class="headerInfo">
                        <h5>E-MAIL US</h5>
                        <a class="links" href="mailto:info@jbiconstructionllc.com"> info@jbiconstructionllc.com</a>
                    </div>
                </div>
            </div>
            <div class="bars" id="bars">
                <img id="list" class="show" onclick="showMenu()"
                    src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/list.svg" alt="3 lines">
                <img id="close" onclick="hideMenu()"
                    src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/x.svg" alt="3 lines">
            </div>
        </div>
        <nav id="nav" class="fadeInTop">
            <ul class="nav_links ">
                <li><a href="#" onclick="closeNav()">HOME</a></li>
                <li><a href="#About" onclick="closeNav()">ABOUT</a></li>
                <li><a href="#Services" onclick="closeNav()">SERVICES</a></li>
                <li><a href="#Reviews" onclick="closeNav()">TESTIMONIALS</a></li>
                <li><a href="#Gallery" onclick="closeNav()">GALLERY</a></li>
                <li><a href="#Contact">CONTACT</a></li>
            </ul>
            <div class="nav_social">
                <div class="line2"></div>
                <button onclick="location.href='/#Contact'">
                    <a href="#Contact">GET A QOUTE →</a>
                </button>
            </div>
        </nav>
        <div class="welcome">
            <div class="welcomeMsg">
                <h1 class="fadeInTopM">WELCOME TO JBI CONSTRUCTION LLC </h1>
                <h5 class="fadeInTopM">"From concept to creation, we bring your visions to life across Chantilly,
                    Fairfax, and the Northern Virginia area."</h5>
                <button onclick="location.href='/#Contact'" class="fadeInUp">
                    <h4>BUILD WITH US </h4>
                </button>
            </div>
        </div>
    </header>
    <!-- About Us Section -->
    <section id="About">
        <div class="aboutUsContainer" data-aos="fade-left">
            <div class="aboutUsLeftSide">
                <h4>About Us</h4>
                <h3>Transform Your Space With Us</h3>
                <div class="aboutUsText">
                    <p>
                        Welcome to <strong><span>JBI Construction LLC!</span></strong> We are a trusted general
                        contractor
                        serving Chantilly,
                        Fairfax, and Northern Virginia for over 20 years. As a full-service construction company, we
                        specialize in residential
                        and commercial construction, remodeling, and renovations, delivering high-quality craftsmanship
                        and superior customer
                        service.

                        Whether you need a kitchen remodeler, bathroom remodeler, or a contractor for a full renovation,
                        our expert team ensures
                        a seamless, budget-friendly experience using top-quality materials and industry-leading
                        techniques. From new builds to
                        home and commercial upgrades, we bring your vision to life with precision and care.

                        Get a free estimate today! Transform your home with JBI Construction, Northern Virginia’s
                        top-rated remodeling experts.
                    </p>
                    <button><a href="#Contact"><strong>Design Your Dream</strong></a> </button>
                </div>
            </div>
            <div class="aboutUsRightSide">
                <img class="aboutUsImage"
                    src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/renovating.webp"
                    alt="Photo of Construction Saw">
            </div>
    </section>

    <section id="Services">
        <div class="servicesContainer" data-aos="fade-right" data-aos-duration="1300">
            <div class="serviceHeader">
                <h4>Our Services</h4>
                <h3>Expert Construction & Remodeling in Northern Virginia</h3>
                <div class="serviceHeaderText">
                    <p>At <strong>JBI Construction LLC</strong>, we specialize in Residential and Commercial
                        Construction,
                        remodeling,renovations across Chantilly, Fairfax, and Northern Virginia. From project planning
                        and
                        design to building and finishing work, our expert team delivers high-quality craftsmanship on
                        time and
                        within budget.</p>
                </div>
            </div>
            <div class="servicesBody">
                <div class="serviceItem">
                    <img class="serviceImage"
                        src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/kitchen.png"
                        alt="Kitchen Icon">
                    <h4>Kitchen Remodeling</h4>
                    <p>
                        Our kitchen remodeling service includes a full design and build process to transform your
                        outdated kitchen into a
                        functional and stylish space that meets your unique needs and tastes.
                    </p>
                </div>
                <div class="serviceItem">
                    <img class="serviceImage"
                        src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/bath.png"
                        alt="Bathroom Icon">
                    <h4>Bathroom Remodeling</h4>
                    <p>
                        Our bathroom remodeling services include design, construction, and finishing touches to create a
                        customized, and aesthetically pleasing space. We handle all aspects of the process and aim for
                        the highest quality workmanship for our customers.
                    </p>
                </div>
                <div class="serviceItem">
                    <img class="serviceImage"
                        src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/artist.png"
                        alt="Comstruction Paint Brush">
                    <h4>Painting</h4>
                    <p>
                        Our painting services include both interior and exterior painting for residential and commercial
                        properties. We offer a
                        wide range of color options and use high quality paints and techniques to ensure a long-lasting
                        and flawless finish.
                    </p>
                </div>
                <div class="serviceItem">
                    <img class="serviceImage"
                        src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/toolbox.png"
                        alt="Construction Toolbox">
                    <h4>Carpentry</h4>
                    <p>
                        We offer comprehensive carpentry services, including custom projects such as cabinets, shelving,
                        trim, and molding. Our
                        skilled craftsmen deliver exceptional quality and attention to detail.
                    </p>
                </div>
                <div class="serviceItem">
                    <img class="serviceImage"
                        src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/terrace.png"
                        alt="Built Patio Icon">
                    <h4>Decks & Patios</h4>
                    <p>
                        We offer custom deck and patio building services, including design and construction. Our
                        experienced team handles all
                        aspects of the project and delivers high quality results.
                    </p>
                </div>
                <div class="serviceItem">
                    <img class="serviceImage"
                        src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/wood.png"
                        alt="Installed Wood Floor">
                    <h4>Flooring Installation</h4>
                    <p>
                        We offer professional floor installation services for a variety of materials including hardwood,
                        laminate, tile, and
                        carpet. Our experienced team ensures a smooth, even finish and works with clients to choose the
                        best option for their
                        needs and budget.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Ad Section  -->
    <section id="Banner">
        <div class="banner-container">
            <div class="ad-message">
                <h1>From Concept to Completion, Let’s Bring Your Dream Home to Life!
                    <span><strong>(703) 409 5230</strong></span>
                </h1>
            </div>
            <div class="ad-button">
                <button><a href="#Contact"><strong>Contact Us</strong></a> </button>
            </div>
        </div>

    </section>
    <!-- Testimonials -->
    <section id="Reviews">
        <div class="test" data-aos="zoom-in">
            <div class="reviewHeader">
                <h4>Client Testimonials</h4>
                <h3>Trusted by Homeowners & Businesses in Northern Virginia</h3>
            </div>
            <div class="elfsight-app-207662d7-72f5-4628-ab57-2e2d3cdb5ec3" data-elfsight-app-lazy></div>
        </div>
    </section>


    <!-- GALLERY -->
    <section id="Gallery">
        <div class="galleryContainer" data-aos="zoom-out">
            <div class="galleryHeader">
                <h4>Gallery</h4>
                <h3>Our Recent Construction & Remodeling Projects</h3>
            </div>
            <div class="galleryButton">
            </div>
            <div class="galleryShowcase">
                <div class="galleryImage">
                    <img src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/shower.jpeg"
                        alt="Luxury Shower Remodel in Chantilly, VA - Custom Tile & Glass Installation">
                </div>
                <div class="galleryImage">
                    <img src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/bathroomfloor.jpeg"
                        alt="Bathroom Floor Remodeling in Fairfax, VA - High-Quality Tile Installation">
                </div>
                <div class="galleryImage">
                    <img src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/marble.jpeg"
                        alt="Custom Marble Sink Installation - Bathroom Renovation in Northern Virginia">
                </div>
                <div class="galleryImage">
                    <img src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/steps.jpeg"
                        alt="Living Room Floor Remodel in Northern Virginia - Hardwood & Laminate Flooring">
                </div>
                <div class="galleryImage">
                    <img src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/kitchen.jpeg"
                        alt="Kitchen Remodeling in Chantilly, VA - Modern Cabinets & Countertop Installation">
                </div>
                <div class="galleryImage">
                    <img src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/stairs.jpeg"
                        alt="New Staircase Remodel in Fairfax, VA - Custom Wood & Railing Installation">
                </div>

            </div>
    </section>

    <!-- Contact Form -->
    <section id="Contact">
        <div class="contactContainer" data-aos="fade-left">
            <div class="form">
                <div class="formL">
                    <h4>Contact Us</h4>
                    <h3>We’d Love to Hear from You!</h3>
                    <form action="/submitted" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="formName">
                            <label for="name">Name <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </label>
                            {% with messages = get_flashed_messages(category_filter=["name"])%}
                            {%if messages%}
                            {%for msg in messages%}
                            <input id="Fail" type="text" name="name" placeholder="{{msg}}" class="input">
                            {% endfor %}
                            {%else%}
                            <input type="text" name="name" class="input">
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="formEmail">
                            <label for="name">Email <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </label>
                            {% with messages = get_flashed_messages(category_filter=["email"])%}
                            {%if messages%}
                            {%for msg in messages%}
                            <input id="Fail" placeholder="{{msg}}" type="text" name="email" type="email" class="input">
                            {% endfor %}
                            {%else%}
                            <input type="text" name="email" type="email" class="input">
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="formPhone">
                            <label for="phone">Phone <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </label><br>
                            {% with messages = get_flashed_messages(category_filter=["phone"])%}
                            {%if messages%}
                            {%for msg in messages%}
                            <input id="Fail" placeholder="{{msg}}" type="text" name="phone" class="pInput">
                            {% endfor %}
                            {%else%}
                            <input type="text" name="phone" class="pInput">
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="formMsg">
                            <label for="message">Message <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </label><br>
                            {% with messages = get_flashed_messages(category_filter=["message"])%}
                            {%if messages%}
                            {%for msg in messages%}
                            <textarea id="Fail" placeholder="{{msg}}" name="message" cols="30" rows="10"
                                class="mInput"></textarea>
                            {% endfor %}
                            {%else%}
                            <textarea name="message" cols="30" rows="10" class="mInput"></textarea>
                            {% endif %}
                            {% endwith %}
                            <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                            <button class="contactBtn" type="submit"> SEND MESSAGE </button>
                        </div>
                    </form>
                </div>
                <div class="formLine"></div>
                <div class="formR">
                    <h3>Our Contacts</h3>
                    <div class="contactInfo">
                        <div class="info">
                            <div class="infoIcon">
                                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="infoText">
                                <h4>ADDRESS</h4>
                                <p>DMV</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoIcon">
                                <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="infoText">
                                <h4>E-MAIL</h4>
                                <p>info@jbiconstructionllc.com</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoIcon">
                                <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="infoText">
                                <h4>TELEPHONE</h4>
                                <p><a href="tel:7034095230"> +1 703 409 5230</a></p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoIcon">
                                <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="infoText">
                                <h4>WORK HOURS</h4>
                                <p>Mon-Sat, 8AM - 10PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footerContainer">
            <div class="footerContents">
                <h3>About Us</h3>
                <div class="colorLine1"></div>
                <p>
                    <strong>JBI Construction LLC</strong> is a trusted general contractor serving
                    <strong>Chantilly,
                        Fairfax</strong>, and <strong>Northern Virginia.</strong>
                    We specialize in residential and commercial construction, remodeling, and
                    renovations, delivering
                    high-quality craftsmanship with exceptional customer service.
                    From new home builds to kitchen and bathroom remodeling, we
                    provide reliable,
                    budget-friendly solutions.
                    Contact us today for a free consultation and see why we're the preferred choice for
                    construction and
                    remodeling services in Northern Virginia.
                </p>

            </div>
            <div class="footerContents">
                <h3>Quick Links</h3>
                <div class="colorLine2"></div>
                <div class="linkContainer">
                    <div class="links">
                        <li><a href="#" onclick="closeNav()">
                                <p>HOME</p>
                            </a></li>
                        <li><a href="#About" onclick="closeNav()">
                                <p>ABOUT</p>
                            </a></li>
                        <li><a href="#Services" onclick="closeNav()">
                                <p>SERVICES</p>
                            </a></li>
                        <li><a href="#Reviews" onclick="closeNav()" class="hidden">
                                <p>TESTIMONIALS</p>
                            </a></li>
                        <li><a href="#Gallery" onclick="closeNav()" class="hidden">
                                <p>GALLERY</p>
                            </a></li>
                    </div>
                    <div class="links2">
                        <li><a href="#Reviews" onclick="closeNav()">
                                <p>TESTIMONIALS</p>
                            </a></li>
                        <li><a href="#Gallery" onclick="closeNav()">
                                <p>GALLERY</p>
                            </a></li>
                    </div>
                </div>
            </div>
            <div class="footerContents">
                <h3>Contact Us</h3>
                <div class="colorLine3"></div>
                <p>Email: <a href="mailto:info@jbiconstructionllc.com" class="emailFooter">
                        info@jbiconstructionllc.com</a></p>
                <p>Telephone: +1 703 409 5230</p>
                <p>Office Hours: Mon-Sat, 8AM - 10PM</p>
            </div>
        </div>
    </footer>
    <div class="cc">
        <p>Copyright © {{ current_year }} JBI Construction LLC, all rights reserved.</p>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 150,
            delay: 55,
            duration: 1350,
            once: true
            // mirror: true,
        });
    </script>
</body>

</html>