<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Looking for a reliable and professional construction company in {{ current_year }}? Look no further! 
        Our experienced team offers top-notch services for all your local construction needs. From new builds 
        to renovations and remodels, we have the expertise and equipment to get the job done right. Trust us for all 
        your construction needs in {{ current_year }}.">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="../static/img/white_logo2.ico">


    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aboutUs.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/testimonials.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">


    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,400;1,600&family=Montserrat:wght@400;600;700&display=swap"
        rel="stylesheet">


    <script type="text/javascript" src="{{ url_for('static', filename='/js/scrollAnimation.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://kit.fontawesome.com/7e3e6f27d8.js" crossorigin="anonymous"></script>

</head>


<title>JBI Construction: Your One-Stop Shop for Construction Services in {{ current_year }}</title>
</head>

<body>
    <!-- Landing Page -->
    <header id="header">
        <div class="logo" id="logo">
            <div class="box1" id="box1">
                <div class="logoContainer">
                    <img class="logoImg" src="{{ url_for('static', filename='img/white_logo.png') }}"
                        alt="Logo of JBI Construction">
                </div>
            </div>
            <div class="box2" id="box2">
                <div class="call">
                    <img class="icon" src="{{ url_for('static', filename='img/call2.png') }}" alt="phone icon">
                    <div class="headerInfo">
                        <h5>CALL US</h5>
                        <a class="links" href="tel:7034095230"> +1 703 409 5230</a>
                    </div>
                </div>
                <div class="line"></div>
                <div class="mail">
                    <img class="icon" src="{{ url_for('static', filename='img/envelope2.png') }}" alt="E-mail icon">
                    <div class="headerInfo">
                        <h5>E-MAIL US</h5>
                        <a class="links" href="mailto:info@jbiconstructionllc.com"> info@jbicontructionllc.com</a>
                    </div>
                </div>
            </div>
            <div class="bars" id="bars">
                <img id="list" class="show" onclick="showMenu()" src="{{ url_for('static', filename='img/list.svg') }}"
                    alt="3 lines">
                <img id="close" onclick="hideMenu()" src="{{ url_for('static', filename='img/x.svg') }}" alt="3 lines">
            </div>
        </div>
        <nav id="nav" class="fadeInTop">
            <ul class="nav_links ">
                <li><a href="#" onclick="closeNav()">HOME</a></li>
                <li><a href="#About" onclick="closeNav()">ABOUT</a></li>
                <li><a href="#Services" onclick="closeNav()">SERVICES</a></li>
                <li><a href="#Reviews" onclick="closeNav()">TESTIMONIALS</a></li>
                <li><a href="#Gallery" onclick="closeNav()">GALLERY</a></li>
                <li><a href="#Contact">CONTACT</a></li>
            </ul>
            <div class="nav_social">
                <div class="line2"></div>
                <button onclick="location.href='/#Contact'">
                    <a href="#Contact">GET A QOUTE →</a>
                </button>
            </div>
        </nav>
        <div class="welcome">
            <div class="welcomeMsg">
                <h3 class="fadeInTopM">WELCOME TO JBI CONSTRUCTION</h3>
                <h5 class="fadeInTopM">"From concept to creation, we bring your visions to life."</h5>
                <button onclick="location.href='/#Contact'" class="fadeInUp">
                    <h4>BUILD WITH US </h4>
                </button>
            </div>
        </div>
    </header>
    <!-- About Us Section -->
    <section id="About">
        <div class="aboutUsContainer" data-aos="fade-left">
            <div class="aboutUsLeftSide">
                <h4>About Us</h4>
                <h3>Transform Your Space With Us</h3>
                <div class="aboutUsText">
                    <p>

                        Welcome to <span>JBI Construction!</span> We are a full-service construction company that has
                        been serving
                        the local community for
                        over 20 years. We offer a wide range of services, including residential and commercial
                        construction, remodeling, and
                        renovations. Our team of skilled professionals has a passion for bringing our customers'
                        construction visions to life.
                        We pride ourselves on our attention to detail, customer service, and the high-quality
                        workmanship that we deliver on
                        every project. Design your dream with us and let's bring your construction goals to life.
                        Contact us today to learn
                        more.</p>
                    <button><a href="#Contact">Design Your Dream </a> </button>
                </div>
            </div>
            <div class="aboutUsRightSide">
                <img class="aboutUsImage" src="{{ url_for('static', filename='img/saw.jpg') }}" alt="Construction Saw">
            </div>
    </section>
    <!-- Services Section -->
    <section id="Services">
        <div class="servicesContainer" data-aos="fade-right" data-aos-duration="1300">
            <div class="serviceHeader">
                <h4>What We Do</h4>
                <h3>Some Of Our Services</h3>
                <div class="serviceHeaderText">
                    <p>At JBI Construction, we offer a full range of services to meet the needs of our clients. From
                        project planning
                        and design to building and finishing work, we have the expertise and experience to complete your
                        project on time and
                        within budget.</p>
                </div>
            </div>
            <div class="servicesBody">
                <div class="serviceItem">
                    <img class="serviceImage" src="{{ url_for('static', filename='img/kitchen.png') }}"
                        alt="Kitchen Icon">
                    <h4>Kitchen Remodeling</h4>
                    <p>
                        Our kitchen remodeling service includes a full design and build process to transform your
                        outdated kitchen into a
                        functional and stylish space that meets your unique needs and tastes.
                    </p>
                </div>
                <div class="serviceItem">
                    <img class="serviceImage" src="{{ url_for('static', filename='img/bath.png') }}"
                        alt="Bathroom Icon">
                    <h4>Bathroom Remodeling</h4>
                    <p>
                        Our bathroom remodeling services include design, construction, and finishing touches to create a
                        customized, and aesthetically pleasing space. We handle all aspects of the process and aim for
                        the highest quality workmanship for our customers.
                    </p>
                </div>
                <div class="serviceItem">
                    <img class="serviceImage" src="{{ url_for('static', filename='img/artist.png') }}"
                        alt="Comstruction Paint Brush">
                    <h4>Painting</h4>
                    <p>
                        Our painting services include both interior and exterior painting for residential and commercial
                        properties. We offer a
                        wide range of color options and use high quality paints and techniques to ensure a long-lasting
                        and flawless finish.
                    </p>
                </div>
                <div class="serviceItem">
                    <img class="serviceImage" src="{{ url_for('static', filename='img/toolbox.png') }}"
                        alt="Construction Toolbox">
                    <h4>Carpentry</h4>
                    <p>
                        We offer comprehensive carpentry services, including custom projects such as cabinets, shelving,
                        trim, and molding. Our
                        skilled craftsmen deliver exceptional quality and attention to detail.
                    </p>
                </div>
                <div class="serviceItem">
                    <img class="serviceImage" src="{{ url_for('static', filename='img/terrace.png') }}"
                        alt="Built Patio Icon">
                    <h4>Decks & Patios</h4>
                    <p>
                        We offer custom deck and patio building services, including design and construction. Our
                        experienced team handles all
                        aspects of the project and delivers high quality results.
                    </p>
                </div>
                <div class="serviceItem">
                    <img class="serviceImage" src="{{ url_for('static', filename='img/wood.png') }}"
                        alt="Installed Wood Floor">
                    <h4>Flooring Installation</h4>
                    <p>
                        We offer professional floor installation services for a variety of materials including hardwood,
                        laminate, tile, and
                        carpet. Our experienced team ensures a smooth, even finish and works with clients to choose the
                        best option for their
                        needs and budget.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials -->
    <section id="Reviews">
        <div class="reviewContainer" data-aos="zoom-in">
            <div class="reviewHeader">
                <h4>Client Testimonials</h4>
                <h3>Don't just take our word for it</h3>
            </div>
            <div class="reviewCard">
                <img class="reviewPersonImage" src="{{ url_for('static', filename='img/man2.png') }}">
                <div class="reviewContent">
                    <p>
                        I recently hired <span> JBI Construction</span> to complete a full remodel of my kitchen and I
                        couldn't be
                        happier with the
                        results. From start to finish, the entire process was seamless and stress-free. The team was
                        professional, reliable, and
                        always on time. They were also very communicative, keeping me updated on the progress of the
                        project
                        every step of the
                        way.
                    </p>
                    <div class="star">
                        <i class="fa fa-star fa-lg " aria-hidden="true"></i>
                        <i class="fa fa-star fa-lg  " aria-hidden="true"></i>
                        <i class="fa fa-star fa-lg " aria-hidden="true"></i>
                        <i class="fa fa-star fa-lg " aria-hidden="true"></i>
                        <i class="fa fa-star fa-lg " aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <button><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <a href="https://g.page/r/CYLK4lK5Ybw7EAI/review" target="_blank">Write a review</a>
            </button>
        </div>
    </section>
    <!-- GALLERY -->
    <section id="Gallery">
        <div class="galleryContainer" data-aos="zoom-out">
            <div class="galleryHeader">
                <h4>Gallery</h4>
                <h3>Our Recent Work</h3>
            </div>
            <div class="galleryButton">
            </div>
            <div class="galleryShowcase">
                <div class="galleryImage">
                    <img src="{{ url_for('static', filename='img/shower.jpeg') }}" alt="Brand New Shower Remodeled">
                </div>
                <div class="galleryImage">
                    <img src="{{ url_for('static', filename='img/bathroomfloor.jpeg') }}"
                        alt="Brand New Bathroom Floor Remodeling">
                </div>
                <div class="galleryImage">
                    <img src="{{ url_for('static', filename='img/marble.jpeg') }}" alt="New Marble Sink Installation">
                </div>
                <div class="galleryImage">
                    <img src="{{ url_for('static', filename='img/steps.jpeg') }}" alt="New Living Room Floor Remodeled">
                </div>
                <div class="galleryImage">
                    <img src="{{ url_for('static', filename='img/kitchen.jpeg') }}" alt="New Kitchen Remodeling">
                </div>
                <div class="galleryImage">
                    <img src="{{ url_for('static', filename='img/stairs.jpeg') }}" alt="New Stairs Remodeled">
                </div>
            </div>
    </section>
    <!-- Contact Form -->
    <section id="Contact">
        <div class="contactContainer" data-aos="fade-left">
            <div class="form">
                <div class="formL">
                    <h4>Contact Us</h4>
                    <h3>We Love To Hear</h3>
                    <form action="/submitted" method="post">
                        <div class="formName">
                            <label for="name">Name <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </label>
                            {% with messages = get_flashed_messages(category_filter=["name"])%}
                            {%if messages%}
                            {%for msg in messages%}
                            <input id="Fail" type="text" name="name" placeholder="{{msg}}" class="input">
                            {% endfor %}
                            {%else%}
                            <input type="text" name="name" class="input">
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="formEmail">
                            <label for="name">Email <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </label>
                            {% with messages = get_flashed_messages(category_filter=["email"])%}
                            {%if messages%}
                            {%for msg in messages%}
                            <input id="Fail" placeholder="{{msg}}" type="text" name="email" type="email" class="input">
                            {% endfor %}
                            {%else%}
                            <input type="text" name="email" type="email" class="input">
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="formPhone">
                            <label for="phone">Phone <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </label><br>
                            {% with messages = get_flashed_messages(category_filter=["phone"])%}
                            {%if messages%}
                            {%for msg in messages%}
                            <input id="Fail" placeholder="{{msg}}" type="text" name="phone" class="pInput">
                            {% endfor %}
                            {%else%}
                            <input type="text" name="phone" class="pInput">
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="formMsg">
                            <label for="message">Message <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            </label><br>
                            {% with messages = get_flashed_messages(category_filter=["message"])%}
                            {%if messages%}
                            {%for msg in messages%}
                            <textarea id="Fail" placeholder="{{msg}}" name="message" cols="30" rows="10"
                                class="mInput"></textarea>
                            {% endfor %}
                            {%else%}
                            <textarea name="message" cols="30" rows="10" class="mInput"></textarea>
                            {% endif %}
                            {% endwith %}
                            <button class="contactBtn" type="submit"> SEND MESSAGE </button>
                        </div>
                    </form>
                </div>
                <div class="formLine"></div>
                <div class="formR">
                    <h3>Our Contacts</h3>
                    <div class="contactInfo">
                        <div class="info">
                            <div class="infoIcon">
                                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="infoText">
                                <h4>ADDRESS</h4>
                                <p>DMV</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoIcon">
                                <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="infoText">
                                <h4>E-MAIL</h4>
                                <p>info@jbiconstructionllc.com</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoIcon">
                                <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="infoText">
                                <h4>TELEPHONE</h4>
                                <p><a href="tel:7034095230"> +1 703 409 5230</a></p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoIcon">
                                <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="infoText">
                                <h4>WORK HOURS</h4>
                                <p>Mon-Sat, 8AM - 10PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footerContainer">
            <div class="footerContents">
                <h3>About Us</h3>
                <div class="colorLine1"></div>
                <p>
                    JBI Construction is a professional and experienced full-service construction company that
                    specializes in residential and
                    commercial projects. We pride ourselves on our high-quality workmanship
                    and exceptional
                    customer service. Contact us today for a free consultation and let us show you why we're the go-to
                    choice for a reliable, professional, and
                    affordable
                    construction services in the local community.
                </p>
            </div>
            <div class="footerContents">
                <h3>Quick Links</h3>
                <div class="colorLine2"></div>
                <div class="linkContainer">
                    <div class="links">
                        <li><a href="#" onclick="closeNav()">
                                <p>HOME</p>
                            </a></li>
                        <li><a href="#About" onclick="closeNav()">
                                <p>ABOUT</p>
                            </a></li>
                        <li><a href="#Services" onclick="closeNav()">
                                <p>SERVICES</p>
                            </a></li>
                        <li><a href="#Reviews" onclick="closeNav()" class="hidden">
                                <p>TESTIMONIALS</p>
                            </a></li>
                        <li><a href="#Gallery" onclick="closeNav()" class="hidden">
                                <p>GALLERY</p>
                            </a></li>
                    </div>
                    <div class="links2">
                        <li><a href="#Reviews" onclick="closeNav()">
                                <p>TESTIMONIALS</p>
                            </a></li>
                        <li><a href="#Gallery" onclick="closeNav()">
                                <p>GALLERY</p>
                            </a></li>
                    </div>
                </div>
            </div>
            <div class="footerContents">
                <h3>Contact Us</h3>
                <div class="colorLine3"></div>
                <p>Email: <a href="mailto:info@jbiconstructionllc.com" class="emailFooter">
                        info@jbicontructionllc.com</a></p>
                <p>Telephone: +1 703 409 5230</p>
                <p>Office Hours: Mon-Sat, 8AM - 10PM</p>
            </div>
        </div>
    </footer>

    <div class="cc">
        <p>Copyright © {{ current_year }} JBI Construction LLC, all rights reserved.</p>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 150,
            delay: 55,
            duration: 1350,
            // mirror: true,
        });
    </script>
</body>

</html>