<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Need a trusted construction company in {{ current_year }}? JBI Construction delivers expert new builds, renovations, and remodels. Reliable, professional, and committed to quality—let’s build your vision today!">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico"
        href="https://jbiconstructionllc-static.s3.amazonaws.com/img/white_logo2.ico">

    <link rel="stylesheet" type="text/css"
        href="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/styles/success.css">
    <link rel="stylesheet" type="text/css"
        href="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/styles/animation.css">

    <script type="module" src="{{ url_for('static', filename='js/script2.js') }}" defer></script>


    <title>JBI Construction | Top-Rated Construction Services in {{ current_year }}</title>


</head>


<body>
    <div class="wrapper">
        <div id="confetti" class="successContainer fadeInTop">
            <img class="successImg" src="https://jbiconstructionllc-static.s3.us-east-1.amazonaws.com/img/success.png">
            <h1>Thank You!</h1>
            <p>Your Message has been received and we will be contacting your shortly</p>
            <button onclick="location.href='/#header'"><a href="/#header">Go Home</a></button>
        </div>


    </div>

</body>

</html>